* {

  margin: 0 10px;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

}

html,

body {

 overflow-x: hidden;

}

.box {
  inline-size: 300px;
  color: #7f8cff;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header-section {
  display: flex;
  justify-content: space-between;
  width: 375px;
  padding: 0 0 50px 0;
  margin: 0 0 50px 0;
  color: #6070ff;
  font-weight: 800px;
  background-image: url("/images/header-background-mobile.png");
}

.my-logo {
  font-size: 18px;
  font-weight: 700px;
}

.headline-section {
  width: 327px;
  color: #172b4d;
  font-weight: 700px;
  inline-size: 270px;
}

.brief-bio {
  inline-size: 320px;
  font-size: 16px;
  font-weight: normal;
}

.social-containers {
  display: flex;
  flex-direction: row;
  width: 327px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
