* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.head-section {
  display: flex;
  margin: 40px auto;
  width: 327px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.my-logo {
  display: flex;
  padding: 10px 10px;
  width: 100%;
  height: 40px;
  left: 12px;
  font-weight: bold;
  color: #6070ff;
}

a {
  text-decoration: none;
}

.menu {
  color: #6070ff;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 10px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-image: url("./images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 375px;
  height: 718px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding-top: 20%;
  padding-right: 30%;
  margin-bottom: 0;
}

.title .main-section {
  padding-top: 241px;
}

.description {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
  width: 300px;
  height: 146px;
  color: #344563;
}

.connect-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 117px;
  height: 24px;
  margin-left: 36px;
  color: #7f8cff;
}

.social-container {
  margin-left: 36px;
}

.social-media {
  display: flex;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 10px;
}

/* middle section */

section {
  display: grid;
  flex-direction: column;
  align-items: center;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* padding: 114px 24px; */
  gap: 88px;
  margin: 0 auto;
  width: 375px;
  background: #e5e5e5;
}

.personal-info {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  height: 596px;
}

.snapshot-img {
  border-radius: 8px;
  margin-top: 12px;
  width: 295px;
  height: 220px;
}

.second-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  height: 32px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.frame-item1 {
  list-style-type: none;
  padding: 8px 0;
  margin: 0 10px 0 -20px;
  width: 55px;
  height: 32px;
  color: #344563;
}

.frame-item2 {
  padding: 8px 0;
  width: 100px;
  height: 32px;
  color: #7a869a;
}

.frame-item3 {
  padding: 8px 0;
  width: 29px;
  height: 32px;
  color: #7a869a;
}

.message {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.button-html {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebebff;
  border-radius: 8px;
  width: 45px;
  height: 24px;
}

.button-css {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebebff;
  border-radius: 8px;
  width: 45px;
  height: 24px;
}

.button-javascript {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebebff;
  border-radius: 8px;
  width: 89px;
  height: 24px;
}

.action {
  display: flex;
  align-items: center;
  height: 72px;
  width: 295px;
  left: 0;
  top: 216px;
  border-radius: 0;
}

.project-btn {
  padding: 12px;
  gap: 10px;
  background: none;
  width: 150px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.project-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.about-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-image: url("./images/Base-about-myself.png");
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 375px;
  padding: 0;
}

.about-header {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  margin: 114px 24px 12px 24px;
  margin-bottom: 12px;
  width: 327px;
  height: 101px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-body {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
}

.resume-btn {
  background: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  gap: 10px;
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #396df2;
  width: 162px;
  height: 48px;
}

.skill-list {
  display: flex;
  flex-direction: column;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 237px;
  height: 24px;
  margin: 36px;
}

.frameworks p {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.frameworks img {
  width: 24px;
  height: auto;
}

.frameworks .languages {
  border: none;
  margin: 24px 0;
}

.skill-list .borders {
  margin-left: 36px;
}

.frameworks .text {
  margin: 20px 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image:
    url("./images/contact-form-background.png"),
    url("./images/blue-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat, repeat;
  border: none;
  width: 375px;
  height: 779px;
  margin-top: 100px;
}

.contact-headline {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 103px;

  /* margin-bottom: 25px; */
  line-height: 52px;
  color: #fff;
}

#job-request-text {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 327px;
  height: 102px;
  text-align: center;
  color: #ebebff;
}

.input-field {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}

ul {
  list-style: none;
}

input {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #172b4d;
  line-height: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
}

textarea {
  width: 327px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;

  /* margin-top: 10px; */
}

.textarea-message {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  resize: none;
}

.get-button {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  width: 140px;
  height: 48px;
  padding: 12px 16px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 0 0 0 5px;
}

.input-field #name {
  padding-left: 16px;
}

.input-field #email {
  padding-left: 16px;
}

.input-field #text-book {
  padding-left: 16px;
  padding-top: 15px;
}

#end-line {
  border: 2px solid black;
  width: 134px;
  height: 5px;
  background-color: black;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .head-section {
    width: 70vw;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70vw;
    background-image: url("./images/header-bg-desktop.svg");

    /* padding-left: 260px; */
  }

  .menu {
    display: none;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #172b4d;

    /* margin-top: 50px; */
    margin-bottom: 12px;
    padding-right: 0;
    width: 63.38%;
  }

  /* .title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    padding-top: 20%;
    padding-right: 0;
    margin-bottom: 0;
  } */

  .description {
    width: 63.8%;
  }

  .main-section .connect-me {
    margin-left: 0;
  }

  .work-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin-top: 30px;

    /* padding: 0 142px; */
    width: 70vw;
    font-size: 40px;
  }

  .message {
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .work-container {
    gap: 0;
    margin-top: -30px;
    width: 90vw;
  }

  .about-header {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    margin-top: 90px;
    margin-bottom: 12px;
    margin-left: 25%;
    width: 200px;
    height: 101px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .about-body {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 25%;
    width: 70%;
  }

  .about-section {
    display: inline-flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0 100px 0 0;
    margin-bottom: 0;
    padding-bottom: 40px;
    width: 70vw;
  }

  .about-section .connect-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 117px;
    height: 24px;
    margin-left: 25%;
    color: #7f8cff;
  }

  .social-container {
    margin-left: 25%;
  }

  .borders img {
    width: 50%;
    height: auto;
  }

  .contact-container {
    width: 70vw;
    margin-top: -40px;
    background-image:
      url("./images/contact-bg-desktop2.svg"),
      url("./images/contact-bg-desktop1.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #job-request-text {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 55%;
    height: 102px;
    text-align: center;
    color: #ebebff;
  }

  .input-field {
    align-items: center;
  }
}

nav {
  list-style-type: none;
}

@media (max-width: 768px) {
  .list {
    display: none;
  }
}
